@model IEnumerable<DataLayer.LeaveTransactionDetail>

@{
    ViewBag.Title = "Index";
    if (ViewBag.Role == "Admin")
    {
        Layout = "~/Views/Shared/_AdminDashboard.cshtml";
    }
    else if (ViewBag.Role == "Manager")
    {
        Layout = "~/Views/Shared/_ManagerDashboard.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_UserDashboard.cshtml";
    }
}

<h2 class="col-md-4 col-xs-3">Your Leaves</h2>

<button type="button"
        class="btn btn-primary action-button col-md-offset-6 col-md-2 col-xs-6"
        onclick='window.location = "@Url.Action("RequestLeave", "Leave", new { id = ViewBag.EmployeeId })";'>
    Request Leave
</button>

<h3 class="col-md-12 col-xs-12">Employee Id: @ViewBag.EmployeeId</h3>

<h3 style="color:red">@TempData["Message"]</h3>

<table class="table">
    <tr>
        <th class="col-auto">
            <span class="display-header">
                @Html.DisplayNameFor(model => model.DateOfRequest)
            </span>
        </th>
        <th class="col-auto">
            <span class="display-header">
                @Html.DisplayNameFor(model => model.StartDate)
            </span>
        </th>
        <th class="col-auto">
            <span class="display-header">
                @Html.DisplayNameFor(model => model.EndDate)
            </span>
        </th>
        <th class="col-auto">
            <span class="display-header">
                @Html.DisplayNameFor(model => model.TransactionStatus)
            </span>
        </th>
        <th class="col-auto">
            <span class="display-header">
                @Html.DisplayNameFor(model => model.Reason)
            </span>
        </th>
        <th class="col-auto">
            <span class="display-header">
                Action
            </span>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="col-auto">
                <span class="display-content">
                    @item.DateOfRequest.ToShortDateString()
                </span>
            </td>
            <td class="col-auto">
                <span class="display-content">
                    @item.StartDate.ToShortDateString()
                </span>
            </td>
            <td class="col-auto">
                <span class="display-content">
                    @item.EndDate.ToShortDateString()
                </span>
            </td>
            <td class="col-auto">
                <span class="display-content">
                    @Html.DisplayFor(modelItem => item.TransactionStatus)
                </span>
            </td>
            <td class="col-auto">
                <span class="display-content">
                    @Html.DisplayFor(modelItem => item.Reason)
                </span>
            </td>
            <td class="col-auto">
                <span class="display-content">
                    <input type="button" class="btn btn-primary display-content" style="color:white" id="accept" name="accept" value="Update" onclick='window.location = "@Url.Action("Update","Leave", new { id = item.EmployeeId, Transid = item.TransactionId })";' />
                    <input type="button" class="btn btn-danger display-content" style="color:white" id="reject" name="reject" value="Delete" onclick='window.location = "@Url.Action("Delete","Leave", new { id = item.EmployeeId, Transid = item.TransactionId, s = 0  })";' />
                    
                </span>
            </td>
        </tr>
    }

</table>
